<div class="container">
    <div class="row">
      <div class="card col s4 offset-s4">
        <div class="card-image">
          <img src="img/default_pic.png">
        </div>
        <div class="card-content">
          <h4>{{vm.profile.details.fullName}}, {{vm.profile.details.age}}</h4>
          <h5>{{vm.profile.details.country}}</h5>
        </div>
        <div class="card-action center">
          <button class="waves-effect waves-light btn" ng-click="vm.logout()">Logout</button>
        </div>
      </div>
    </div>
</div>
