<div class="container">
    <div class="row">
      <div class="card col s6 offset-s3">
        <form ng-submit="vm.login()">
          <h4 class="center">Log in</h4>
          <div class="input-field">
            <input id="first_name" ng-model="vm.username" type="text" required>
            <label for="first_name" data-error="wrong">Username</label>
          </div>
          <div class="input-field">
            <input id="last_name" ng-model="vm.password" type="password" required>
            <label for="last_name" data-error="wrong">Password</label>
          </div>
          <div class="row center">
            <button type="submit" class="waves-effect waves-light btn">Log in</button>
          </div>
        </form>
          <div class="row card-action center">
            <button class="waves-effect waves-light btn red" ng-click="vm.googleLogin()">Log in using Google</button>
          </div>
          <div class="row" ng-show="vm.message">
            <div class="col s10 offset-s1">
              <span class="red-text" ng-bind="vm.message"></span>
            </div>
          </div>
      </div>
    </div>
</div>
